
<div class="form">
    <h5>register your account</h5>
    <form (ngSubmit)="signUpSubmit()" #myForm="ngForm">
        <div class="form-control">
            <input type="text" placeholder="full name" [(ngModel)]="form.fullname" name="fullname" #fullname="ngModel" required />
        </div>
        <p *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">*This field is required.</p>

        <div class="form-control">
            <input type="email" placeholder="email" [(ngModel)]="form.email" name="email" #email="ngModel" required />
        </div>
        <p *ngIf="email.invalid && (email.dirty || email.touched)">*This field is required.</p>

        <div class="form-control">
            <input type="password" placeholder="password" [(ngModel)]="form.password" name="password" #password="ngModel" required />
        </div>
        <p *ngIf="password.invalid && (password.dirty || password.touched)">*This field is required.</p>

        <div class="form-control">
            <input type="password" placeholder="confirm password" [(ngModel)]="form.confirm_password" name="confirm_password" #confirm_password="ngModel" required />
        </div>
        <p *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)">*This field is required.</p>

        <div class="form-control">
            <button type="submit" [disabled]="myForm.form.invalid">Sign Up</button>
        </div>
    </form>
    <p>New user? <a routerLink="/login">Log In</a></p>
</div>